body {
    margin: 0; 
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	font-family: 'Noto Sans JP', sans-serif !important;
	background-color: black;
}

.container {
	margin: 50px auto;
	max-width: 70%;
	border-radius: 10px;
}

.footer {
	color: rgb(206, 206, 206);
	position: fixed;
	text-align: center;
	width: 100%;
	bottom: 10px;
}

#ads-conteiner {
	position: absolute;
	width: 100%;
	z-index: 1000;
	display: none;
	justify-content: center;
}

#ads-conteiner #ads-box {
	margin: 5em auto;
	color: #999;
	background-color: #202324;
	padding: 1em 1em;
	border-radius: 3px;
}

#ads-conteiner #ads-box #ads-img {
	position: relative;
}

#ads-conteiner #ads-close {
    text-align: center;
    position: relative;
    color: red;
    font-size: 9pt;
    float: right;
    background-color: black;
    border-radius: 5px;
    left: 10px;
    top: -9px;
    cursor: pointer;
    padding: 5px;
}

#ads-tab {
	text-align: center;
}

#ads-acc {
	color: white;
	border-radius: 10px;
	
}
img {
	border-radius: 5px;
}
a {
	color: crimson;
	text-decoration: none;
}

@media only screen and (max-width: 800px) {
	
	#ads-conteiner #ads-box { margin: -30px auto; }
	
	.container {
		min-width: 90%;
	}	
}
